body {
    background-image: url("coronavirus.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

a:hover {
    color: #CD1F48;
    font-size: 20px;
}

.maintitle {
    font-size: 40px;
    text-shadow: 3px 3px 3px white;
}

button {
    background: #CD1F48;
    color: #fff;
    border: none;
    position: relative;
    height: 60px;
    font-size: 1.6em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    margin: 10px;
    border-radius: 10px;
}

button:hover {
    background: #fff;
    color: #CD1F48;
}

button:before,
button:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #CD1F48;
    transition: 400ms ease all;
}

button:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

button:hover:before,
button:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

#main_info {
    font-size: 60px;
}

mark {
    border-radius: 10px;
    background-color: aliceblue;
    border: 3px solid #CD1F48;
}

body {
    font-family: 'Gugi', cursive;
}

img {
    border-radius: 20px;
}