h1 {
    text-align: center;
}

sub {
    font-size: 15px;
}

body {
    background-image: url("wallpaper.jpg");
}

.wpahr {
    font-size: 70px;
    text-align: center;
    text-shadow: 3px 3px 3px black;
}

#emptyspace {
    height: 200px;
}

#emptyspace2 {
    height: 100px;
}

input {
    border-radius: 30px;
    border-color: royalblue;
}

input:focus {
    /* 포커스 받을 때 */
    background-color: aliceblue;
}

mark {
    background-color: royalblue;
}

form {
    font-size: 40px;
    text-align: center;
    color: white;
    margin: auto;
    text-shadow: 3px 3px 3px black;
}

button {
    background: royalblue;
    color: #fff;
    border: none;
    position: relative;
    height: 60px;
    font-size: 1.6em;
    padding: 0 0.5em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    border-radius: 10px;
    font-size: 20px;
}

button:hover {
    background: #fff;
    color: royalblue;
}

button:before,
button:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: royalblue;
    transition: 400ms ease all;
}

button:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

button:hover:before,
button:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

body {
    font-family: 'Gugi', cursive;
}

#korea_corona {
    text-align: center;
    text-decoration: none;
    color: inherit;
    font-size: 28px;
    font-weight: 600;
}

a {
    color: #000;
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
}

a:after {
    display: block;
    content: '';
    border-bottom: solid 3px #ea2129;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

a:hover:after {
    transform: scaleX(1);
}